<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <!-- aqui fica o cabeçalho do site -->
    </header>
    <main>
        <label>
            <p class="style_email">Email</p>
            <input type="email" placeholder="insira seu email">
        </label>
        <label>
            <p class="style_senha">Senha</p>
            <input type="password" placeholder="insira sua senha">
        </label>
        <input type="submit" value="enviar">
    </main>
    <footer>
        <!-- aqui fica o rodapé do site -->
    </footer>

    </script>
</body>
</html>